body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* #region Utilities */
.container {
    width: 75%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    margin: auto;
}

/* #endregion Utilities */

/* #region site_header */

nav {
    background-color: rgb(255, 100, 0);
}

.nav_container {
    width: 75%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    margin: auto;
    align-items: center;
}

ul {
    display: flex;
    list-style: none;
    gap: 10px;
    padding: 0;
    color: white;
    font-weight: bold;
}

.nav {
    
}

.logo {
    display: flex;
    justify-content: center;
}

.user {
    display: flex;
    justify-content: flex-end;
    gap: 10px;
    color: white;
}

/* #endregion site_header */


.main.container {
    padding-top: 80px;
}





.img{
    width: 450px;
    height: 600px;
    background-color: red;
}

.text {
    width: 450px;
    height: 200px;
    background-color: grey;
}


footer {
    height: 200px;
    background-color: black;
    margin-top: 100px;
}