body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* #region Utilities */
.container {
    width: 75%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    margin: auto;
}

/* #endregion Utilities */

/* #region site_header */

nav {
    background-color: rgb(255, 100, 0);
}

.nav_container {
    width: 75%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    margin: auto;
    align-items: center;
}

ul {
    display: flex;
    list-style: none;
    gap: 10px;
    padding: 0;
    color: white;
    font-weight: bold;
}

.logo {
    display: flex;
    justify-content: center;
}

.user {
    display: flex;
    justify-content: flex-end;
    gap: 10px;
    color: white;
}

/* #endregion site_header */

/* #region site_main */
.main.container {
    padding-top: 80px;
}

.img{
    width: 415px;
    height: 600px;
    background-color: red;
}

.text {
    width: 415px;
    height: 200px;
    background-color: grey;
}

.product1 .img {
    background-image: url(../img/1.webp);
    background-size: contain;
}

.product2 .img {
    background-image: url(../img/2.webp);
    background-size: contain;
}
.product3 .img {
    background-image: url(../img/3.webp);
    background-size: contain;
}
.product4 .img {
    background-image: url(../img/4.webp);
    background-size: contain;
}

.product5 .img {
    background-image: url(../img/5.webp);
    background-size: contain;
}
.product6 .img {
    background-image: url(../img/6.webp);
    background-size: contain;
}
/* #endregion site_main */








footer {
    height: 200px;
    background-color: black;
    margin-top: 100px;
}

